/* Define color variables at the root level */
:root {
  --bg-primary: #0a0a0a;
  --text-primary: #ffffff;
  --accent-color: #1e293b;
}

/* Reset all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic page styling */
/* Basic page styling */
body {
  font-family: __Inter_d65c78, __Inter_Fallback_d65c78, ui-sans-serif, system-ui,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Nav bar styling */

/* Navigation styling */
.navbar {
  width: 100%;
  padding: 25px 0;
}

/* Center the navigation items */
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  gap: 15px; /* Space between nav items */
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  color: var(--text-primary);
  padding: 20px; /* Padding for clickable area */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none;
  font-size: 20px;
}

/* Contact button styling */
.contact-btn {
  background-color: var(--bg-primary);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  margin-left: 10px; /* Space between nav items and button */
}

.contact-btn a {
  color: var(--text-primary);
  padding: 20px 30px; /* More padding for button appearance */
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
}

/* Optional hover effect  -- add later using js*/
.contact-btn:hover {
  background-color: var(--accent-color);
  transition: background-color 0.3s;
}

/* Hero section  */
.hero-section {
  margin-top: 200px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.basic-info h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.basic-info h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.projects-btn {
  color: var(--text-primary);
  margin-top: 20px;
  padding: 15px 30px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
}

.projects-btn a {
  text-decoration: none;
  font-size: 20px;
  color: var(--bg-primary);
}

.profile-image img {
  width: 250px; /* Set your preferred width */
  height: 250px;
  border-radius: 50%;
  object-fit: cover; /* Maintains aspect ratio but fills the container*/
}

/* About setion */
.about {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me,
.version-control,
.ai-driven {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  margin-bottom: 50px;
}

/* Common text styling */
.content-text h1 {
  font-size: 20px;
  margin-bottom: 30px;
}

.content-text p {
  font-size: 17px;
  margin-bottom: 100px;
  max-width: 400px;
  line-height: 1.5;
}

/* Icon styling for all sections */
.about-icon,
.version-icon,
.ai-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.about-icon i,
.version-icon i,
.ai-icon i {
  font-size: 70px;
  color: var(--accent-color);
}

/* Responsiveness */

/* Nav bar*/
@media (max-width: 600px) {
  .navbar ul {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
  }
  .navbar ul li {
    margin-bottom: 5px; /* Space between items */
  }
  .navbar ul li a {
    padding: 10px; /* Adjust padding for smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }
  .contact-btn a {
    padding: 10px 20px; /* Adjust padding for smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

/* Hero section */
@media (max-width: 600px) {
  .hero-section {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0px;
    margin-top: 50px;
    gap: 30px;
  }
  .basic-info {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
  }
  .profile-image {
    margin-bottom: 0px;
  }
  .projects-btn {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px 20px;
  }
  .projects-btn a {
    font-size: 14px;
  }
}

/* About section */
@media (max-width: 600px) {
  .about-me,
  .version-control,
  .ai-driven {
    flex-direction: column-reverse;
    text-align: center;
    padding: 0 20px;
    gap: 30px;
  }

  .content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-text p {
    margin-bottom: 40px;
    width: 100%;
    max-width: 400px;
  }

  .about-icon,
  .version-icon,
  .ai-icon {
    margin-bottom: 15px;
  }
}
